.animate-pulse-waves {
   width: 18px;
   height: 18px;
   border-radius: 50%;
   @apply bg-surface-foreground/10 dark:bg-surface-foreground-dark/50;
   @apply [box-shadow:_0_0_0_0_theme(colors.primary.DEFAULT/50)] dark:[box-shadow:_0_0_0_0_theme(colors.primary.dark)];
   animation: pulse-waves 1.5s infinite linear;
   position: relative;
}

.animate-pulse-waves.small {
   width: 12px;
   height: 12px;
   animation-name: pulse-waves-small;
}

.animate-pulse-waves.large {
   width: 24px;
   height: 24px;
   animation-name: pulse-waves-large;
}

.animate-pulse-waves:before,
.animate-pulse-waves:after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: inherit;
   @apply [box-shadow:_0_0_0_0_theme(colors.primary.DEFAULT/50)] dark:[box-shadow:_0_0_0_0_theme(colors.primary.dark)];
   animation: inherit;
   animation-delay: -0.5s;
}

.animate-pulse-waves:after {
   animation-delay: -1s;
}

@keyframes pulse-waves {
   100% {
      box-shadow: 0 0 0 36px transparent;
   }
}

@keyframes pulse-waves-small {
   100% {
      box-shadow: 0 0 0 24px transparent;
   }
}

@keyframes pulse-waves-large {
   100% {
      box-shadow: 0 0 0 48px transparent;
   }
}